<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Contact Details</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <img class="card-img" src="assets/images/favicon/logo.jpg" alt="Training & Placement Logo" height="456">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center text-center">
                    <img src="assets/images/favicon/logo.jpg" class="img-circle" alt="Department Logo" width="100">
                    <br><br>
                    <h4 class="card-title">Training & Placement Department</h4>
                    <h6 class="card-subtitle">
                        Yeshwantrao Chavan College of Engineering<br>
                        Wanadongri, Nagpur- 441110<br>
                        Maharashtra, India
                    </h6>
                    <small class="text-muted pt-30 db">Phone</small>
                    <h6>+91 0000000000</h6>
                    <small class="text-muted pt-30 db">Placements Relate Queries</small>
                    <h6><a href="https://ycce.in" class="text-white">ycce.in</a></h6>
                    <small class="text-muted pt-30 db">Placement Portal Queries</small>
                    <h6><a href="mailto:tnpportal@ycce.ac.in" class="text-white">tnpportal@ycce.ac.in</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>
